* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 6px 10px 16px 10px;
}

@media (min-width: 425px) {
    body {
        margin: 6px 8% 16px 8%;
    }
}

@media (min-width: 768px) {
    body {
        margin: 6px 18% 16px 18%;
    }
}

@media (min-width: 1024px) {
    body {
        margin: 6px 28% 16px 28%;
    }
}

@media (min-width: 1440px) {
    body {
        margin: 6px 34% 16px 34%;
    }
}

.title {
    text-align: center;
    margin-bottom: 12px;
}

.error-message {
    color: rgb(250, 71, 71);
}

/* Note */

.note-list {
    display: grid;
    gap: 20px;
}

.note-item {
    word-break: break-all;
    word-break: break-word;

    border: 1px solid black;
    border-radius: 8px;

    text-decoration: none;

    padding: 8px;
}

.note-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 4px;
}

.note-item-title {
    display: -webkit-box;
    max-lines: 1;
    line-clamp: 1;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.note-item-link {
    background-image: url(/assets/arrow_right.png);
    background-repeat: no-repeat;
    background-size: contain;

    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.note-item-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;

    margin-bottom: 4px;
}

.note-item-tag-list>* {
    font-size: 14px;

    border-radius: 5px;
    padding: 0 4px 2px 4px;

    color: white;
    background-color: rgb(91, 179, 182);
}

.note-item-content {
    display: -webkit-box;
    max-lines: 2;
    line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.note-item-date {
    text-align: end;
    margin-top: 4px;
}

/* Note single */

.note-single {
    word-break: break-all;
    word-break: break-word;

    text-decoration: none;
}

.note-single-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;

    margin-bottom: 8px;
}

.note-single-tag-list>* {
    border-radius: 5px;
    padding: 0 4px 2px 4px;

    color: white;
    background-color: rgb(91, 179, 182);
}

.note-single-date {
    text-align: end;
    margin-top: 8px;
}

.note-single-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.note-single-buttons>* {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 4px 2px 4px;
}

.note-single-edit {
    color: white;
    background-color: rgb(123, 121, 201);
}

.note-single-back {
    color: white;
    background-color: rgb(122, 122, 122);
}

/* Note create */

.note-create {
    word-break: break-all;
    word-break: break-word;

    text-decoration: none;
}

.note-create-name {
    margin-bottom: 8px;
}

.note-create-name>input {
    width: 100%;
}

.note-create-content>textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    font-size: inherit;

    display: block;
}

.note-create-date {
    text-align: end;
    margin-top: 8px;
}

.note-create-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.note-create-buttons>* {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 4px 2px 4px;
}

.note-create-save {
    color: white;
    background-color: rgb(123, 121, 201);
}

.note-create-cancel {
    color: white;
    background-color: rgb(122, 122, 122);
}

/* Note edit */

.note-edit {
    word-break: break-all;
    word-break: break-word;

    text-decoration: none;
}

.note-edit-name {
    margin-bottom: 8px;
}

.note-edit-name>input {
    width: 100%;
}

.note-edit-content>textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    font-size: inherit;

    display: block;
}

.note-edit-date {
    text-align: end;
    margin-top: 8px;
}

.note-edit-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.note-edit-buttons>button {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 4px 2px 4px;
}

.note-edit-save {
    color: white;
    background-color: rgb(123, 121, 201);
}

.note-edit-cancel {
    color: white;
    background-color: rgb(122, 122, 122);
}

/* Tags */

.form-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;

    margin-bottom: 8px;
}

.form-tag-list>* {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 4px 2px 4px;

    color: white;
    background-color: rgb(58, 70, 70);
}

.form-tag-list>*.active {
    background-color: rgb(91, 179, 182);
}

.form-new-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;

    margin-bottom: 8px;
}

.form-new-tag>button {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 6px 2px 6px;

    color: white;
    background-color: rgb(58, 70, 70);
}

/* Filters */

.filters {
    margin-bottom: 20px;
}

.search {
    width: 100%;
}

.filters-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 6px;

    margin-top: 8px;
}

.filters-tag-list>* {
    text-decoration: none;
    font-size: inherit;

    border-radius: 5px;
    border: none;

    padding: 0 4px 2px 4px;

    color: white;
    background-color: rgb(58, 70, 70);
}

.filters-tag-list>*.active {
    background-color: rgb(91, 179, 182);
}